@font-face {
    font-family: "SD B";
    src: url(./AppleSDGothicNeoB.ttf);
}
@font-face {
    font-family: "SD EB";
    src: url(./AppleSDGothicNeoEB.ttf);
}
@font-face {
    font-family: "SD H";
    src: url(./AppleSDGothicNeoH.ttf);
}
@font-face {
    font-family: "SD L";
    src: url(./AppleSDGothicNeoL.ttf);
}
@font-face {
    font-family: "SD M";
    src: url(./AppleSDGothicNeoM.ttf);
}
@font-face {
    font-family: "SD R";
    src: url(./AppleSDGothicNeoR.ttf);
}
@font-face {
    font-family: "SD SB";
    src: url(./AppleSDGothicNeoSB.ttf);
}
@font-face {
    font-family: "SD T";
    src: url(./AppleSDGothicNeoT.ttf);
}
@font-face {
    font-family: "SD UL";
    src: url(./AppleSDGothicNeoUL.ttf);
}
